h1, h2 {

    text-align: center;

}
.tarjetas{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 5px;
    
}
header{
    background-color: black;
    color: whitesmoke;
}
.nav {
    background-color: grey;
    color: whitesmoke;
    /* padding: 5px;     */
    text-decoration: none;
    border-radius: 5px;
    margin: 5px;



}
footer{
    background-color: BLACK;
    color: whitesmoke;
    text-align: center;
    margin-top: 10PX;

}